.itemContainer {
  width: 760px;
  height: 151px;
  margin-bottom: 16px;
  padding: 16px;
  display: flex;
  border: 1px solid #EDF2F7;
  border-radius: 16px;
  &:hover {
    border-color: #FF7F50;
  }
}

.castCover {
    width: 96px;
    height: 96px;
    border-radius: 8px;
    margin-right: 16px;
  }
  .castInfo {
    width: 100%;
    .titleGroup {
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .title {
        font-size: 16px;
        line-height: 23px;
        font-weight: 500;
      }
    }
    .introduction {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        color: #718096;
      }
    .playingInfo {
      display: flex;
      align-items: center;
      .startPlaying {
        display: block;
        width: 33px;
        height: 33px;
        margin-right: 10px;
      }
      .timeInfo {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
        color: #93989A;
      }
    }
  }